/*
* @Author: KevinTroyT
* @Date:   2018-11-05 21:13:19
* @Last Modified by:   KevinTroyT
* @Last Modified time: 2018-11-05 21:38:44
*/
.nav-side
{
    float: left;

    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item
{
    font-size: 13px;
    line-height: 25px;
}
.nav-side .nav-item .link
{
    color: #888;
}
.nav-side .nav-item.active .link
{
    color: #c60023;
}
/*右侧内容区*/
.content.with-nav
{
    float: left;

    width: 950px;
}
