/**
 * @Author: KevinTroyT
 * @Date:   2018-11-07T21:33:27+08:00
 * @Email:  q964049459@gmail.com
 * @Last modified by:   KevinTroyT
 * @Last modified time: 2018-11-07T23:23:34+08:00
 */
.form-line
{
    font-size: 14px;
    line-height: 60px;

    height: 60px;
}
.form-line .label
{
    display: inline-block;

    width: 200px;

    text-align: right;
}
.btn-submit
{
    display: block;

    width: 200px;
    margin-top: 50px;
    margin-left: 120px;

    text-align: center;
}
