/**
 * @Author: KevinTroyT
 * @Date:   2018-11-09T13:55:00+08:00
 * @Email:  q964049459@gmail.com
 * @Last modified by:   troykevin
 * @Last modified time: 2018-11-12T14:30:06+08:00
 */
.pg-content
{
    margin-bottom: 40px;

    text-align: center;

    color: #333;
}
.pg-content .pg-item
{
    line-height: 36px;

    display: inline-block;

    height: 36px;
    margin: 0 2px;
    padding: 0 15px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    border: 1px #ccc solid;
    background-color: #eee;
}
.pg-content .pg-item.disabled
{
    cursor: auto;

    color: #ccc;
    background-color: none;
}
.pg-content .pg-total
{
    margin-left: 40px;

    cursor: auto;

    background-color: none;
}
.pg-content .pg-item.active
{
    cursor: auto;

    color: #ccc;
    border: 1px #f6f6f6 solid;
    background: none;
}
