/**
 * @Author: KevinTroyT
 * @Date:   2018-11-06T10:55:35+08:00
 * @Email:  q964049459@gmail.com
 * @Last modified by:   troykevin
 * @Last modified time: 2018-11-12T17:22:13+08:00
 */


 /*最外层*/
 .page-wrap
 {
     padding: 40px 0;

     background-color: #e99c4e;
 }
 /*表单框*/
 .user-con
 {
     position: relative;

     width: 400px;
     margin: 0 auto;

     background-color: #fff;
 }
 .user-con .user-title
 {
     font-size: 18px;
     font-weight: bold;

     padding: 10px 0;

     text-align: center;

     color: #666;
     border-bottom: 1px #ddd solid;
 }
 .user-con .user-box
 {
     padding: 20px;
 }
 /*错误提示框*/
 .user-con .user-box .error-item
 {
     position: relative;

     display: none;

     margin-bottom: 10px;
     padding: 4px 0 4px 40px;

     color: #f00;
     border: 1px solid red;
     background-color: #fde9e9;
 }

 /*错误图标*/
 .user-con .user-box .error-icon
 {
     font-size: 14px;

     position: absolute;
     top: 50%;
     left: 14px;

     margin-top: -7px;
 }
 .user-con .user-item
 {
     position: relative;

     margin-bottom: 20px;
 }
 .user-con .user-item .user-label
 {
     font-size: 18px;
     line-height: 36px;

     position: absolute;
     top: 1px;
     bottom: 1px;
     left: 1px;

     width: 40px;

     text-align: center;

     color: #d3d3d3;
     border-right: 1px solid #bdbdbd;
     background-color: #f3f3f3;
 }
 .user-con .user-item .user-content
 {
     font-size: 15px;
     line-height: 18px;

     width: 308px;
     height: 18px;
     padding: 10px 0 10px 50px;

     border: 1px #bdbdbd solid;
     outline: none;
 }
 .user-con .btn-submit
 {
     font-size: 20px;

     width: 100%;
     padding: 6px 0;

     text-align: center;
 }
 /*跳转链接*/
 .link-item
 {
     margin-top: 10px;

     text-align: right;
 }
 .link-item .link
 {
     font-size: 11px;

     margin-left: 10px;

     color: #999;
 }
