/*
* @Author: KevinTroyT
* @Date:   2018-11-05 19:57:18
 * @Last modified by:   troykevin
 * @Last modified time: 2018-11-12T17:29:10+08:00
*/
/*通用头部导航*/
.header .logo
{
    font-family: tahoma;
    font-size: 50px;
    font-weight: bold;

    position: absolute;
    top: 14px;
    left: 60px;

    display: block;

    color: #f39c4e;
}
.header .search-con
{
    padding: 40px 0 30px 250px;
}
.header .search-con .search-input
{
    font-size: 12px;
    line-height: 30px;

    width: 550px;
    height: 30px;
    padding-left: 10px;

    border: 2px #f39c4e solid;
    border-radius: 1rem 0 0 1rem;
    outline: none;
}
.header .search-con .search-btn
{
    position: absolute;

    width: 80px;
    height: 34px;
    line-height: 34px;
    border-radius: 0 1rem 1rem 0;
}
/* 面包屑导航*/
.crump
{
    font-size: 14px;
    line-height: 50px;

    height: 50px;
    margin-bottom: 10px;

    color: #888;
    background-color: #eee;
    border-top: 2px #f39c4e solid;
}
